version: 2.1

jobs:
  build:
    docker:
      - image: python:3.8
    working_directory: /module5/circleci  # Update this path to match your project structure
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            pip install -r requirements.txt
      - run:
          name: Upgrade pip
	  command: |
	  pip install --upgrade pip
